
{{!-- a header --}}

<header>
    <h1>CS340 Group 38 Project</h1>
    <p>Welcome to our project! Please select from the following options:</p>
    {{!-- Add any additional header content here --}}
</header>