{{!-- a navbar --}}

<nav>
  <a href="/">Home</a>
  <a href="/tables/players">Players</a>
  <a href="/tables/farms">Farms</a>
  <a href="/tables/villagers">Villagers</a>
  <a href="/tables/gifts">Gifts</a>
</nav>