{{!-- a navbar --}}

<nav>
  <a href="/">Home</a>
  <a href="/tables/players">Players</a>
  <a href="/tables/farms">Farms</a>
  <a href="/tables/villagers">Villagers</a>
  <a href="/tables/gifts">Gifts</a>
  <a href="/tables/gifthistories">Gift Histories</a>
  <a href="/tables/playersvillagersrelationships">Players-Villagers Relationships</a>
  <a href="/tables/villagersgiftspreferences">Villagers Gifts Preferences</a>
  <a href="/reset" onclick="return confirm('Are you sure you want to reset the database? This cannot be undone.');">RESET</a>
</nav>