<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 38 CS340 Portfolio Project</title>
</head>
<body>
  {{> partials_header}}
  {{> partials_navbar}}
  <main class="container">
    {{{body}}}
  </main>
</body>
{{> partials_footer}}
</html>