
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>notitle</title>
  </head>
  <body>
    {{>partials_header}}

    <main><section><article>
      {{{body}}}
    </article></section></main>

     {{>partials_footer}}
  </body>
</html>
