<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>no title</title>
</head>
<body>
  {{> /partials/partials_head}}
  {{> /partials/partials_navbar}}
  {{> /partials/partials_alerts}}
  <main class="container">
    {{{body}}}
  </main>
</body>
{{> /partials/partials_footer}}
</html>